      <div class="container">
  <div class="row">

    <div class="span7">
<p>Ruby/Biogem developers can create your own app
- You can easily utilize your NGS biogem w/ BaseSpace Ruby SDK
- You will easily obtain much more users

Users can use your app without coding
- Don't need to learn programming. Just a click!

BioBaseSpace for non-Ruby programmers

Then we found that it can be a burden to create new Web app from scratch on top of your NGS program. So we started new project to provide a Web-app scaffold for BS. We have already implemented the basic portion but will need some more time before releasing the app (BioBaseSpace).
</p>

      <p>Bio::BaseSpace is a Ruby based SDK to be used in the development of Apps and scripts for working with Illumina's BaseSpace cloud-computing solution for next-gen sequencing data analysis.

The primary purpose of the SDK is to provide an easy-to-use Ruby environment enabling developers to authenticate a user, retrieve data, and upload data/results from their own analysis to BaseSpace.

Note: It will be necessary to have created a BaseSpace account with a new App and have the client_key and client_secret codes for the App available to run a number of the following examples.</p>        


    </div>
    <div class="span5">
<table class="table table-striped table-condensed" >
<tr>
<th></th>
<th>Name</th>
</tr>
<% @gitusers.each do |user| %>
<tr>
<td><%= image_tag user['avatar_url'], size: "80x80" %></td>
<td><%= user["name"] || user["login"] %></td>
</tr>
<% end %> 
</table>
    </div>    
  </div>
</div>



